.App {
  flex: wrap;
  text-align: center;
  background-color: red;
  /* font-family: 'Open Sans', sans-serif; */
}

body {
  margin: 1em;
  padding: 0;
  color: #c1ae9f;
  background-color: #d3bdb0;

  opacity: 1;
  background-image: linear-gradient(
      30deg,
      #89937c 12%,
      transparent 12.5%,
      transparent 87%,
      #89937c 87.5%,
      #89937c
    ),
    linear-gradient(
      150deg,
      #89937c 12%,
      transparent 12.5%,
      transparent 87%,
      #89937c 87.5%,
      #89937c
    ),
    linear-gradient(
      30deg,
      #89937c 12%,
      transparent 12.5%,
      transparent 87%,
      #89937c 87.5%,
      #89937c
    ),
    linear-gradient(
      150deg,
      #89937c 12%,
      transparent 12.5%,
      transparent 87%,
      #89937c 87.5%,
      #89937c
    ),
    linear-gradient(
      60deg,
      #89937c77 25%,
      transparent 25.5%,
      transparent 75%,
      #89937c77 75%,
      #89937c77
    ),
    linear-gradient(
      60deg,
      #89937c77 25%,
      transparent 25.5%,
      transparent 75%,
      #89937c77 75%,
      #89937c77
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
h1 {
  padding: 25px;
  text-align: center;
  font-size: 5vw;
  user-select: none;
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke-width: 2px;
  
  -webkit-text-stroke-color: #715b64;
}
h1:hover {
  transform: perspective(1px) rotateX(180deg);
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-family: "Press Start 2P", cursive;

  -webkit-text-stroke-width: 1px;
  color: #715b64;

  -webkit-text-stroke-color: #d3bdb0;
}

a {
  text-decoration: none;
  color: pink;
}
.title-plate {
  margin: auto;
  border-radius: 100px;
  max-width: 700px;
  background: rgb(105, 56, 92);
  background: linear-gradient(
    196deg,
    rgba(105, 56, 92, 1) 0%,
    rgba(255, 246, 0, 0.36318277310924374) 57%,
    rgba(193, 174, 159, 1) 100%
  );
}

.link {
  color: black;
  user-select: none;
}

#card {
  user-select: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 2px;

  max-width: 600px;
  max-height: 600px;
  border-radius: 150px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.center-h2 {
  text-align: center;
}

h3 {
  text-align: center;
  color: brown;
  font-family: "Open Sans", sans-serif;
  font-family: "Press Start 2P", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Ubuntu Mono", monospace;
  position: relative;
  margin: auto;
}
h6 {
  text-align: center;
  font-size: 3vh;
  color: black;
  height: 50px;
  padding-bottom: 10px;
}
h6:hover {
  color: pink;
}
model-viewer {
  border: 0;
  text-decoration: none;
  background: #cfd8dc;
  font: 14px/1 sans-serif;
  color: black;
  padding: 0;
  margin: 0;
  padding: 0.1rem 1rem;
  border-radius: 100px;
  position: relative;
  margin: auto;
  justify-content: center;

  width: 75%;
  margin-top: 5em;
  margin-bottom: 5em;
  height: 400px;
  background: rgb(105, 56, 92);
  background: linear-gradient(
    196deg,
    rgba(105, 56, 92, 1) 0%,
    rgba(255, 246, 0, 0.36318277310924374) 57%,
    rgba(193, 174, 159, 1) 100%
  );
  --poster-color: #ffffff00;
}

a:hover {
  color: brown;
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke-width: 1px;

  -webkit-text-stroke-color: #715b64;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  height: 100%;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
footer {
  text-align: center;
  color: black;
  font-family: "Press Start 2P", cursive;
}
